.footer {
    padding: 5% 10% 0%;
    background-color: #fde7cb;
    
    &__logo {
        width: 10%;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
    }
    &__nav {
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-size:16px;
        font-weight: bold;
        margin-bottom: 2%;
        @include primaryFontColor;
    }
    &__link {
        @include primaryFontColor;
        font-size: 16px;
        margin: 5% 0%;
    }
    &__link:hover {
        color: #7f84ab;
    }
    &__colomn {
        display: flex;
        flex-direction: column
    }

    &__social {
        width: 10%;
        
    }

    &__bottom {
        @include primaryFontColor ;
        padding: 1% 0%;
        text-align: center;
        width: 100%;
        border-top: 2px solid #000958;
    }
}